<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/4e0a19b281.js" crossorigin="anonymous"></script>

    <!-- bootstrap added -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>HR application</title>
</head>
<body style="background-color:#f0f0f0;">


<h5 style="color:blue"> List of employees </h5>


<table class="table table-striped table-bordered table-sm table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Position</th>
        <th>Salary</th>
        <th>Start date</th>
    </tr>
    </thead>

    <tr
            th:each="employee : ${employees}">
        <td><span th:text="${employee.id}">id</span></td>
        <td><a th:href="@{'/modify/' + ${employee.id}}"><span th:text="${employee.name}">name</span></a></td>
        <td><span th:text="${employee.position}">position</span></td>
        <td><span th:text="${employee.salary}">salary</span></td>
        <td><span th:text="${employee.startDateAtTheCompany}">startDateAtTheCompany</span></td>
        <td>
            <form th:action="@{'/delete/' + ${employee.id}}" method="POST">
        <div class="btn-group">
            <button style="height: 30px; text-align: center; display: flex" class="btn-danger btn"> <i class="fa-solid fa-trash-can"></i>  </button>
        </div>
            </form>
        </td>
    </tr>
</table>

    <div class="container">

        <div class="row">
            <div class="col-2"></div>
            <div class="col-4">

                <form th:action="@{/employees}" method="post" th:object="${newEmployee}">

                    <p style="background-color: #E9F9BD;"> Employee input fields: </p>

                    <div class="login-div">
                        <div class="form-group">
                            Id: <input class="form-control blue" th:field="*{id}"/> <br/>
                            Name:<input class="form-control blue" th:field="*{name}"/> <br/>
                            Position:<input class="form-control blue" th:field="*{position}"/> <br/>
                            Salary:<input class="form-control blue" th:field="*{salary}"/> <br/>
                            StartDateAtTheCompany:<input class="form-control blue" th:type="datetime-local" th:field="*{startDateAtTheCompany}"/>
                            <br/>





                            <input type="submit" value="Add"/>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>

</body>
</html>